.margin {
    margin: 0 auto;
    padding: 20px;
    background: gray;
    text-align: center;
}

form {
    align-self: center;
    padding: 30px;
    width: 50%;
}

.container {
  margin: auto;
  margin-top: 25px;
  padding: 30px;
  width: 35%;
  padding: 10px;
}

btn {
    background-color: red;
    padding: 6px;
}

.mybutton {
    background-color: gray;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}

.mybutton:hover {
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    box-shadow: gray;
} 

h2 {
    color: white;
}
